@import "tailwindcss";
@layer base {
	/* * {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	body {
		background: #0d1017;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	} */
}
